<p id="notice"><%= notice %></p>

<h1>Korona oireet kartta</h1>

<div id="reports">
  ilmoitettuja oireita <%= @reports.all.size %>
</div>

<div id="map"></div>

<br>

<script>
  labels = ['A','B']
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var helsinki = {lat: 60.192059, lng: 24.945831};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: helsinki
  });

  // This event listener calls addMarker() when the map is clicked.
  google.maps.event.addListener(map, 'click', function(event) {
    addMarker(event.latLng, map);
    console.log(event.latLng);
  });
} 

// Adds a marker to the map.
function addMarker(location, map) {
  // Add the marker at the clicked location, and add the next-available label
  // from the array of alphabetical characters.
  var marker = new google.maps.Marker({
    position: location,
    map: map
  });


}
//google.maps.event.addDomListener(window, 'load', initMap);

</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_GOqD8lWBT5TptUl2rEyCwaPC_GTPg38&callback=initMap">
</script>
