<p id="notice"><%= notice %></p>

<p>
  <strong>Symptom:</strong>
  <%= @report.symptom_id %>
</p>

<p>
  <strong>Started:</strong>
  <%= @report.started %>
</p>

<p>
  <strong>City:</strong>
  <%= @report.city_id %>
</p>